* {
    box-sizing: border-box;
}



body {
    margin: 0;
}


img {
    width: 100%;

}



/******Splah billede*****/


#splash {
    width: 100vw;
    height: 100vh;
    background-image: url(billeder/newyork.png);
    background-size: cover;
    background-position: center;
    max-width: none;
}


/* fælles designregler for alle sektioner */

section {
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    /*sætter det i midten*/
}

/* ****fælles designregler for alle sektioner SLUT**** */



/*********Fonts style********/

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.5rem;
    color: black;
    text-transform: uppercase;
    margin: 0.8rem;
    padding: 0 0.8rem 0.8rem;

}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    color: black;
    text-transform: uppercase;
}

p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
    color: black;
    text-transform: inherit;
    line-height: 1.7;
}


/*********Fonts style SLUT********/


///*****************Burger menu ************************///

nav {
    overflow: hidden;

    background-color: #BEBEBE;


    margin: 0;
}

nav a {

    float: left;
    font-size: 1.4rem;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    color: #404040;
    text-align: center;
    padding: 1vw;
    text-decoration: none;
    margin: 0;

}

.dropdown {
    float: right;
    overflow: hidden;
    padding: 0.5vw;
}

.dropdown .drop_button {
    font-size: 2vw;
    font-family: sans-serif;
    border: none;
    outline: none;
    color: white;
    padding: 1vw;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown:hover .drop_button {
    background-color: white;
    color: white;


}


.dropdown_content {
    display: none;
    position: absolute;
    right: 0vw;
    top: 4.2vw;
    background-color: #BEBEBE;
    width: 25vw;
    z-index: 1;
}

.dropdown_content a {
    float: none;
    font-size: 1rem;
    color: #3e362f;
    padding: 1vw 1.2vw;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: white;
}

.dropdown_content a:hover {
    color: white;
}

.dropdown:hover .dropdown_content {
    display: block;
}


.hidden {
    display: none;
    transform: scale(0);
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
    transform-origin: top right;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top right;
}

/* ******************* MENU***************** */

/* unvisited link */
header nav a:link {
    color: #404040;
}

/* visited link */
header nav a:visited {
    color: #404040;
}


/* mouse over link */
header nav a:hover {
    color: white;
}

header nav a:active {
    color: white;
}


header nav a:active {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    color: #404040;
}


header {
    background: #BEBEBE;

    position: relative;
    width: 100%;


}

header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}

header nav a {
    margin: 0.5rem;
    padding: 0.2rem;

}

/*******Burger menu SLUT*************/


/******************Om mig***************/

#ommig .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: #404040;

    padding: 0 0.8rem 0.8rem;
    margin: 0.8rem;

}


.col {
    flex-grow: 1;
    flex-basis: 500px;
}

#ommig .col img {
    margin-top: 2vw;
}

#ommig .col p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
    color: #DADADA;
    text-transform: inherit;
    line-height: 1.7;
}


#ommig .col h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    color: #DADADA;
    text-transform: uppercase;
}

/******************Om mig  SLUT***************/


/******************Web START******************/
#web .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

    padding: 0 0.8rem 0.8rem;
    margin: 0.8rem;

}

.col {
    flex-grow: 1;
    flex-basis: 500px;
}



/*********************Footer start***************/

footer {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    background-color: #BEBEBE;
}

footer p {
    color: #404040;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 10vw;
}

/************Footer SLUT**********/


/*****media quries - skal opstilles efter mindst --> størst*****/

@media only screen and (min-width: 600px);

    {

    #menuknap {
        display: none;

    }

    #menuhidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }

}


/* ***splash billede web**** */

@media (orientation:portrait) and (min-width: 300px) {

    #splash {
        width: 100vw;
        height: 56.25vw;
    }

}
