* {
    box-sizing: border-box;
}



body {
    margin: 0;
}


img {
    width: 100%;

}



/******Splah billede*****/


#splash {
    width: 100vw;
    height: 100vh;
    background-image: url(billeder/newyork.png);
    background-size: cover;
    background-position: center;
    max-width: none;
}


/* fælles designregler for alle sektioner */

section {
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    /*sætter det i midten*/
}

/* ****fælles designregler for alle sektioner SLUT**** */



/*********Fonts style********/

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.5rem;
    color: black;
    text-transform: uppercase;

}
















/*****media quries - skal opstilles efter mindst --> størst*****/



/* ***splash billede web**** */
@media (orientation:portrait) and (min-width: 300px) {

    #splash {
        width: 100vw;
        height: 56.25vw;
    }

}
