* {
    box-sizing: border-box;
}



body {
    margin: 0;
}



img {
    width: 100%;

}



/******Splah billede*****/


#splash {
    width: 100vw;
    height: 100vh;
    background-image: url(billeder/newyork.png);
    background-size: cover;
    background-position: center;
    max-width: none;
}




/*********Fonts style********/

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
    color: black;
    text-transform: uppercase;
    margin-left: 0.5vw;
    padding: 1vw;

}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    color: black;
    text-transform: uppercase;
}


h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3rem;
    color: black;
    text-transform: uppercase;
}

p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
    color: black;
    text-transform: inherit;
    line-height: 1.7;
}


/*********Fonts style SLUT********/


///*****************Burger menu ************************///

nav {
    overflow: hidden;

    background-color: #BEBEBE;


    margin: 0;
}

nav a {

    float: left;
    font-size: 1.4rem;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    color: #404040;
    text-align: center;
    padding: 1vw;
    text-decoration: none;
    margin: 0;

}


.hidden {
    display: none;
    transform: scale(0);
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
    transform-origin: top right;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top right;
}

/* ******************* MENU***************** */

/* unvisited link */
header nav a:link {
    color: #404040;
}

/* visited link */
header nav a:visited {
    color: #404040;
}


/* mouse over link */
header nav a:hover {
    color: white;
}

header nav a:active {
    color: white;
}


header nav a:active {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    color: #404040;
}


header {
    background: #BEBEBE;

    position: relative;
    width: 100%;


}

header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}

header nav a {
    margin: 0.5rem;
    padding: 0.2rem;

}

/*******Burger menu SLUT*************/


/******************Om mig***************/

#ommig .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: #404040;

    padding: 1vw;
    margin: 1.7vw;

}

.col {
    flex-grow: 1;
    flex-basis: 500px;
}

#ommig .col img {
    margin-top: 2vw;
    height: 60vw;
    width: 40vw;
    margin-left: 10vw;
    margin-right: 1.7vw;
}

#ommig .col p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
    color: #DADADA;
    text-transform: inherit;
    line-height: 1.7;

    padding-left: 1vw;

}

#ommig .col h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    color: #DADADA;
    text-transform: uppercase;
    padding-left: 1vw;
}

/******************Om mig  SLUT***************/






/******************Web START******************/
#web .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}


#web .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
    padding: 3vw;
    margin: 6vw;
    background-color: #D9D0C5;
    margin-top: 1vw;

}

/******************Web SLUT******************/





/******************UX START******************/

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;


}

.col {
    flex-grow: 1;
    flex-basis: 500px;
}

#prototype .col img {
    margin-top: 2vw;
    height: 54vw;
    width: 25vw;
    margin-left: 12vw;
}

#gruppe_projekt .col img {
    margin-top: 2vw;
    height: 54vw;
    width: 25vw;
    margin-left: 12vw;
}

/*#ux .col p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
    color: #DADADA;
    text-transform: inherit;
    line-height: 1.7;
    padding-right: 2.5rem;

}




#ux .col h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    color: #DADADA;
    text-transform: uppercase;
}

#prototype .col h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    color: #DADADA;
    text-transform: uppercase;
}


#gruppe_projekt .col h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    color: #DADADA;
    text-transform: uppercase;
}


#prototype .col p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
    color: #DADADA;
    text-transform: inherit;
    line-height: 1.7;
    padding-right: 2.5rem;

}

#gruppe_projekt .col p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
    color: #DADADA;
    text-transform: inherit;
    line-height: 1.7;
    padding-right: 2.5rem;

}*/







/******************UX SLUT******************/







/*********************Footer start***************/

footer {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    background-color: #BEBEBE;
}

footer p {
    color: #404040;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 10vw;
}

/************Footer SLUT**********/


/*****media quries - skal opstilles efter mindst --> størst*****/

@media only screen and (min-width: 600px);

    {

    #menuknap {
        display: none;

    }

    #menuhidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }

}


/* ***splash billede web**** */

@media (orientation:portrait) and (min-width: 300px) {

    #splash {
        width: 100vw;
        height: 56.25vw;
    }

}
